{% extends "platformTK/SuperAdmin/HomeBase.html" %}
{% load static %}

{% block content %}
{% include 'platformTK/SuperAdmin/navbar.html' %}
<div class="container mt-5">
    {% if messages %}
    <div id="message-container">
        {% for message in messages %}
            {% if message.tags == 'error' %}
                <div class="alert alert-danger alert-dismissible fade show" role="alert">
                    {{ message }}
                    <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
                </div>
            {% endif %}
            {% if message.tags == 'success' %}
                <div class="alert alert-success alert-dismissible fade show" role="alert">
                    {{ message }}
                    <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
                </div>
            {% endif %}
        {% endfor %}
    </div>
{% endif %}
    <script>
        setTimeout(function() {
            var messageContainer = document.getElementById('message-container');
            if (messageContainer) {
                messageContainer.style.display = 'none';
            }
        }, 5000);  
    </script>

    <div class="container">
        <h1 class="mb-4">Add Schedule</h1>
        <form method="post">
            {% csrf_token %}
            <div class="form-group">
                <label for="group">Group</label>
                <select name="group" id="group" class="form-control">
                    {% for group in groups %}
                        <option value="{{ group.id }}">{{ group.name }}</option>
                    {% endfor %}
                </select>
            </div>
            <div class="form-group">
                <label for="day_of_week">Day of Week</label>
                <select name="day_of_week" id="day_of_week" class="form-control">
                    <option value="Monday">Monday</option>
                    <option value="Tuesday">Tuesday</option>
                    <option value="Wednesday">Wednesday</option>
                    <option value="Thursday">Thursday</option>
                    <option value="Friday">Friday</option>
                    <option value="Saturday">Saturday</option>
                    <option value="Sunday">Sunday</option>
                </select>
            </div>
            <div class="form-group">
                <label for="start_time">Start Time</label>
                <input type="time" name="start_time" id="start_time" class="form-control" required>
            </div>
            <div class="form-group">
                <label for="end_time">End Time</label>
                <input type="time" name="end_time" id="end_time" class="form-control" required>
            </div>
            <br>
            <button type="submit" class="btn btn-primary">Add Schedule</button>
        </form>
    </div>
    {% endblock %}
