{% extends "platformTK/SuperAdmin/HomeBase.html" %}
{% load static %}
{% load custom_filters %}

{% block content %}
{% include 'platformTK/SuperAdmin/navbar.html' %}

<div class="container mt-5">
    {% if messages %}
    <div id="message-container">
        {% for message in messages %}
            {% if message.tags == 'error' %}
                <div class="alert alert-danger alert-dismissible fade show" role="alert">
                    {{ message }}
                    <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
                </div>
            {% endif %}
            {% if message.tags == 'success' %}
                <div class="alert alert-success alert-dismissible fade show" role="alert">
                    {{ message }}
                    <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
                </div>
            {% endif %}
        {% endfor %}
    </div>
{% endif %}

<script>
    // Automatically hide the messages after 5 seconds
    setTimeout(function() {
        var messageContainer = document.getElementById('message-container');
        if (messageContainer) {
            messageContainer.style.display = 'none';
        }
    }, 5000);  // 5000ms = 5 seconds
</script>


    <div class="d-flex justify-content-between align-items-center mb-4">
        <h2 class="text-center">Groupes</h2>
        <button class="btn btn-primary" onclick="openModal()" style="background-color: #176b90;">Ajouter un nouveau groupe</button>
    </div>

    <!-- Filter Form Start -->
    <div class="mb-4">
        <form method="get" class="d-flex">
            <input type="text" class="form-control me-2" style="height: 42px;" name="name" placeholder="Filtrer par nom" value="{{ name_filter }}">
            <input type="text" class="form-control me-2" style="height: 42px;" name="code_group" placeholder="Filtrer par code groupe" value="{{ code_group_filter }}">
            <button type="submit" style="height: 42px;" class="btn btn-primary">Appliquer</button>&nbsp;
            <a href="{% url 'add_groupe' %}" style="height: 42px;" class="btn btn-secondary">Annuler</a>
        </form>
    </div>
    <!-- Filter Form End -->

    <div class="table-responsive">
        <table class="table table-striped table-hover">
            <thead>
                <tr>
                    <th>Nom du groupe</th>
                    <th>Professeurs</th>
                    <th>Membres</th>
                    <th>Code du groupe</th>
                    <th>Ajouter et supprimer</th>
                    <th>Actions</th>
                </tr>
            </thead>
            <tbody>
                {% for group in groups %}
                <tr>
                    <td>{{ group.name }}</td>
                    <td>
                        {% for professor in group.profs.all %}
                            {{ professor.prenom|capitalize_first }} {{ professor.nom|capitalize_first }}{% if not forloop.last %}, {% endif %}
                        {% empty %}
                        Aucun professeur assigné
                        {% endfor %}
                    </td>
                    <td>{{ group.etudiants.count }}</td>
                    <td>{{ group.code_group }}</td>
                    <td>
                        <a href="{% url 'add_profs_etudiants' group.id %}" class="btn btn-danger btn-sm" style="width: 114px;margin-bottom: 10px;">Ajouter</a>
                        <a href="{% url 'delete_profs_etudiants' group.id %}" class="btn btn-danger btn-sm">Supprimer</a>
                    </td>
                    <td>
                        <!-- Trigger for Edit Group Modal -->
                        <button class="btn btn-warning btn-sm" onclick="openEditModal('{{ group.id }}', '{{ group.name }}', '{{ group.description }}')" style="width: 114px;margin-bottom: 10px;">Modifier</button>

                        <!-- Trigger for Delete Confirmation Modal -->
                        <button class="btn btn-danger btn-sm" onclick="openDeleteModal('{{ group.id }}', '{{ group.name }}')">Supprimer</button>                   
                    </td>
                </tr>
                {% empty %}
                <tr>
                    <td colspan="6" class="text-center">Aucun groupe trouvé.</td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>

    <!-- Pagination Controls -->
    <div class="d-flex justify-content-center mt-4">
        <nav>
            <ul class="pagination">
                {% if groups.has_previous %}
                    <li class="page-item">
                        <a class="page-link" href="?page=1{% if name_filter %}&name={{ name_filter }}{% endif %}{% if code_group_filter %}&code_group={{ code_group_filter }}{% endif %}">Premier</a>
                    </li>
                    <li class="page-item">
                        <a class="page-link" href="?page={{ groups.previous_page_number }}{% if name_filter %}&name={{ name_filter }}{% endif %}{% if code_group_filter %}&code_group={{ code_group_filter }}{% endif %}">Précédent</a>
                    </li>
                {% endif %}
                {% for num in groups.paginator.page_range %}
                    <li class="page-item {% if num == groups.number %}active{% endif %}">
                        <a class="page-link" href="?page={{ num }}{% if name_filter %}&name={{ name_filter }}{% endif %}{% if code_group_filter %}&code_group={{ code_group_filter }}{% endif %}">{{ num }}</a>
                    </li>
                {% endfor %}
                {% if groups.has_next %}
                    <li class="page-item">
                        <a class="page-link" href="?page={{ groups.next_page_number }}{% if name_filter %}&name={{ name_filter }}{% endif %}{% if code_group_filter %}&code_group={{ code_group_filter }}{% endif %}">Suivant</a>
                    </li>
                    <li class="page-item">
                        <a class="page-link" href="?page={{ groups.paginator.num_pages }}{% if name_filter %}&name={{ name_filter }}{% endif %}{% if code_group_filter %}&code_group={{ code_group_filter }}{% endif %}">Dernier</a>
                    </li>
                {% endif %}
            </ul>
        </nav>
    </div>
</div>

<style>
    .page-item.active .page-link {
        z-index: 3;
        color: #fff;
        background-color: #176b90;
        border-color: #176b90;
    }
    .page-link {
        color: #176b90;
    }

    .modal-header {
    background-color: #30bb96;
    }
    .btn-primary {
        background-color: #176b90;
        color: #ffffff;
    }
</style>


<!-- Delete Confirmation Modal -->
<div id="deleteGroupModal" class="modal" tabindex="-1" role="dialog" style="display:none;">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Supprimer le groupe</h5>
                {% comment %} <button type="button" class="close" onclick="closeDeleteModal()" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button> {% endcomment %}
                <button type="button" class="btn-close" onclick="closeDeleteModal()" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <p>Êtes-vous sûr de vouloir supprimer le groupe "<span id="groupName"></span>"?</p>
            </div>
            <div class="modal-footer">
                <form id="deleteGroupForm" method="post" action="{% url 'delete_group' %}">
                    {% csrf_token %}
                    <input type="hidden" name="group_id" id="deleteGroupId">
                    <button type="submit" class="btn btn-danger">Supprimer</button>
                    <button type="button" class="btn btn-secondary" onclick="closeDeleteModal()">Annuler</button>
                </form>
            </div>
        </div>
    </div>
</div>

<script>
    // Open the delete confirmation modal
    function openDeleteModal(groupId, groupName) {
        document.getElementById('deleteGroupId').value = groupId;
        document.getElementById('groupName').textContent = groupName;
        document.getElementById('deleteGroupModal').style.display = 'block';
    }

    // Close the delete confirmation modal
    function closeDeleteModal() {
        document.getElementById('deleteGroupModal').style.display = 'none';
    }
</script>



<!-- Edit Group Modal -->
<div id="editGroupModal" class="modal-overlay" tabindex="-1" role="dialog" style="display:none;">
    <div class="modal-content">
        <h5>Modifier le groupe</h5>
        <form method="post" action="{% url 'edit_group' %}">
            {% csrf_token %}
            <input type="hidden" id="group_id" name="group_id">
            <div class="mb-3">
                <label for="name" class="form-label">Nom du groupe</label>
                <input type="text" class="form-control" id="name" name="name" required>
            </div>
            <div class="mb-3">
                <label for="description" class="form-label">Description</label>
                <textarea class="form-control" id="description" name="description" rows="3" required></textarea>
            </div>
            <button type="submit" class="btn btn-primary">Enregistrer les modifications</button>
            <button type="button" class="btn btn-secondary" onclick="closeEditModal();">Fermer</button>
        </form>
    </div>
</div>

<style>
    /* Modal Overlay */
    .modal-overlay {
        display: none; /* Hidden by default */
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background: rgba(0, 0, 0, 0.5); /* Semi-transparent background */
        z-index: 1000;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    
    /* Modal Content */
    .modal-content {
        background-color: white;
        padding: 20px;
        border-radius: 5px;
        width: 400px;
        max-width: 90%;
        box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    }
    
    /* Responsive: Center modal even on smaller screens */
    @media (max-width: 600px) {
        .modal-content {
            width: 90%; /* Adjust the width on smaller screens */
        }
    }
    

</style>


<script>
    function openEditModal(groupId, groupName, groupDescription) {
        document.getElementById('editGroupModal').style.display = 'flex';
        document.getElementById('group_id').value = groupId;
        document.getElementById('name').value = groupName;
        document.getElementById('description').value = groupDescription;
    }
    
    function closeEditModal() {
        document.getElementById('editGroupModal').style.display = 'none';
    }
    
    // Ensure the modal is hidden by default
    document.addEventListener('DOMContentLoaded', function() {
        document.getElementById('editGroupModal').style.display = 'none';
    });
    
</script>


<!-- Modal -->
<div id="groupModal" class="modal">
    <div class="modal-content" style="margin-top: -56px;">
        <div class="modal-header">
            <span class="close" onclick="closeModal()">&times;</span>
            <h2>Ajouter un nouveau groupe</h2>
        </div>
        <div class="modal-body">
            <form method="post" action="{% url 'group_list' %}">
                {% csrf_token %}
                
                <!-- Group Name and Description -->
                <div class="mb-3">
                    <label for="groupName" class="form-label">Nom du groupe</label>
                    <input type="text" class="form-control" id="groupName" name="group_name" required>
                </div>
                <div class="mb-3">
                    <label for="description" class="form-label">Description</label>
                    <textarea class="form-control" id="description" name="description" rows="1" required></textarea>
                </div>

                <!-- Students Section -->
                <div class="students-container d-flex">
                    <!-- Student Search and List -->
                    <div class="mb-3 flex-grow-1 mr-2">
                        <label for="studentSearch" class="form-label">Rechercher des étudiants</label>
                        <div class="input-group">
                            <input type="text" class="form-control" id="studentSearch" placeholder="Search students..." oninput="filterList('student')">
                        </div>
                        <div class="card mt-3 p-2 scrollable-container" id="studentList">
                            {% for etudiant in etudiants %}
                            <div data-id="{{ etudiant.id }}" class="student-item">
                                {{ etudiant.prenom|capitalize_first }} {{ etudiant.nom|capitalize_first }}
                                <button type="button" class="btn btn-sm btn-primary" onclick="addStudent({{ etudiant.id }}, '{{ etudiant.prenom }} {{ etudiant.nom }}')">Ajouter</button>
                            </div>
                            {% endfor %}
                        </div>
                    </div>

                    <!-- Selected Students -->
                    <div class="mt-2 flex-grow-1">
                        <label class="form-label">Étudiants sélectionnés</label>
                        <div id="selectedStudents" class="scrollable-list"></div>
                        <input type="hidden" id="students" name="students">
                    </div>
                </div>

                <!-- Professors Section -->
                <div class="professors-container d-flex mt-3">
                    <!-- Professor Search and List -->
                    <div class="mb-3 flex-grow-1 mr-2">
                        <label for="profSearch" class="form-label">Rechercher des professeurs</label>
                        <div class="input-group">
                            <input type="text" class="form-control" id="profSearch" placeholder="Search professors..." oninput="filterList('prof')">
                        </div>
                        <div class="card mt-3 p-2 scrollable-container" id="profList">
                            {% for prof in profs %}
                            <div data-id="{{ prof.id }}" class="prof-item">
                                {{ prof.prenom|capitalize_first }} {{ prof.nom|capitalize_first }}
                                <button type="button" class="btn btn-sm btn-primary" onclick="addProf({{ prof.id }}, '{{ prof.prenom }} {{ prof.nom }}')">Ajouter</button>
                            </div>
                            {% endfor %}
                        </div>
                    </div>

                    <!-- Selected Professors -->
                    <div class="mt-2 flex-grow-1">
                        <label class="form-label">Professeurs sélectionnés</label>
                        <div id="selectedProfs" class="card p-2 scrollable-container" style="max-height:223px"></div>
                        <input type="hidden" id="profs" name="profs">
                    </div>
                </div>

                <!-- Submit Button -->
                <div class="text-center mt-3">
                    <button type="submit" class="btn btn-primary">Ajouter le groupe</button>
                </div>
            </form>
        </div>
    </div>
</div>



<!-- JavaScript Functions -->
<script>
    function filterList(type) {
        var input, filter, items, i, txtValue;
        if (type === 'student') {
            input = document.getElementById('studentSearch');
            items = document.querySelectorAll('#studentList .student-item');
        } else if (type === 'prof') {
            input = document.getElementById('profSearch');
            items = document.querySelectorAll('#profList .prof-item');
        }
        
        filter = input.value.toLowerCase();

        // Loop through all list items, and hide those who don't match the search query
        for (i = 0; i < items.length; i++) {
            txtValue = items[i].textContent || items[i].innerText;
            if (txtValue.toLowerCase().indexOf(filter) > -1) {
                items[i].style.display = "";
            } else {
                items[i].style.display = "none";
            }
        }
    }

    function capitalizeFirst(value) {
        if (typeof value === 'string') {
            return value.charAt(0).toUpperCase() + value.slice(1).toLowerCase();
        }
        return value;
    }
    
    function addStudent(id, name) {
        var selectedStudents = document.getElementById('selectedStudents');
        var input = document.getElementById('students');
        var existingStudent = selectedStudents.querySelector(`[data-id='${id}']`);
    
        if (!existingStudent) {
            // Apply the capitalizeFirst function to the student's name
            var capitalizedName = capitalizeFirst(name);
            
            var student = document.createElement('div');
            student.setAttribute('data-id', id);
            student.innerHTML = capitalizedName + ' <button type="button" class="btn btn-danger btn-sm" onclick="removeItem(this, \'student\', ' + id + ')">Supprimer</button>';
            selectedStudents.appendChild(student);
            input.value += id + ',';
        }
    }
    
    

    function addProf(id, name) {
        var selectedProfs = document.getElementById('selectedProfs');
        var input = document.getElementById('profs');
        var existingProf = selectedProfs.querySelector(`[data-id='${id}']`);
        
        if (!existingProf) {
            var prof = document.createElement('div');
            prof.setAttribute('data-id', id);
            prof.innerHTML = name + ' <button type="button" class="btn btn-danger btn-sm" onclick="removeItem(this, \'prof\', ' + id + ')">Remove</button>';
            selectedProfs.appendChild(prof);
            input.value += id + ',';
        }
    }
    

    function removeItem(button, type, id) {
        button.parentElement.remove();
        var input = document.getElementById(type === 'student' ? 'students' : 'profs');
        input.value = input.value.replace(id + ',', '');
    }

    
</script>




<style>
   
</style>

<script>
    function openModal() {
        document.getElementById("groupModal").style.display = "block";
    }

    function closeModal() {
        document.getElementById("groupModal").style.display = "none";
    }

    // Close modal when clicking outside of it
    window.onclick = function(event) {
        if (event.target == document.getElementById("groupModal")) {
            closeModal();
        }
    }
</script>



<!-- CSS for Scrollable Containers -->
<style>
    /* CSS for Full Width Modal */
    .modal {
        display: none; /* Hidden by default */
        position: fixed; /* Stay in place */
        {% comment %} z-index: 1; /* Sit on top */ {% endcomment %}
        left: 0;
        top: 0;
        width: 100%; /* Full width */
        height: 100%; /* Full height */
        overflow: auto; /* Enable scroll if needed */
        background-color: rgba(0,0,0,0.4); /* Black background with opacity */
    }
    
    .modal-content {
        background-color: #fefefe;
        margin: 15% auto; /* 15% from the top and centered */
        padding: 20px;
        border: 1px solid #888;
        width: 100%; /* Width of modal content */
        max-width: 1000px; /* Max width */
        border-radius: 5px;
    }
    
    .close {
        color: #aaa;
        float: right;
        font-size: 28px;
        font-weight: bold;
    }
    
    .close:hover,
    .close:focus {
        color: black;
        text-decoration: none;
        cursor: pointer;
    }
    
    .scrollable-container {
        max-height: 178px; /* Adjust the height as needed */
        overflow-y: auto;
        border: 1px solid #ddd;
        border-radius: 4px;
    }
    
    .scrollable-list {
        max-height: 223px; /* Adjust the height as needed */
        overflow-y: auto;
        border: 1px solid #ddd;
        border-radius: 4px;
        padding: 8px;
    }
    
    .scrollable-container div,
    .scrollable-list div {
        padding: 4px 8px;
        border-bottom: 1px solid #ddd;
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
    
    .scrollable-container div:last-child,
    .scrollable-list div:last-child {
        border-bottom: none;
    }
    
    /* Flexbox Styling for Side-by-Side Layout */
    .students-container, .professors-container {
        display: flex;
    }
    
    .flex-grow-1 {
        flex: 1;
    }
    
    .mr-2 {
        margin-right: 16px; /* Adjust spacing as needed */
    }
    
    
</style>
{% endblock %}