{% extends "platformTK/SuperAdmin/HomeBase.html" %}
{% load static %}

{% block content %}
{% include 'platformTK/SuperAdmin/navbar.html' %}

<div class="container mt-5">
    {% if messages %}
    <div id="message-container">
        {% for message in messages %}
            {% if message.tags == 'error' %}
                <div class="alert alert-danger alert-dismissible fade show" role="alert">
                    {{ message }}
                    <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
                </div>
            {% endif %}
            {% if message.tags == 'success' %}
                <div class="alert alert-success alert-dismissible fade show" role="alert">
                    {{ message }}
                    <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
                </div>
            {% endif %}
        {% endfor %}
    </div>
    {% endif %}
    <script>
        setTimeout(function() {
            var messageContainer = document.getElementById('message-container');
            if (messageContainer) {
                messageContainer.style.display = 'none';
            }
        }, 5000);  
    </script>

    <h2>Modifier l'emploi du temps</h2>

    <form method="post">
        {% csrf_token %}
        <div class="form-group">
            <label for="group">Groupe:</label>
            <select name="group" id="group" class="form-control">
                {% for group in groups %}
                    <option value="{{ group.id }}" {% if group.id == schedule.group.id %}selected{% endif %}>
                        {{ group.name }}
                    </option>
                {% endfor %}
            </select>
        </div>
        <div class="form-group">
            <label for="day_of_week">Jour de la semaine:</label>
            <select name="day_of_week" id="day_of_week" class="form-control">
                <option value="Monday" {% if schedule.day_of_week == "Monday" %}selected{% endif %}>Lundi</option>
                <option value="Tuesday" {% if schedule.day_of_week == "Tuesday" %}selected{% endif %}>Mardi</option>
                <option value="Wednesday" {% if schedule.day_of_week == "Wednesday" %}selected{% endif %}>Mercredi</option>
                <option value="Thursday" {% if schedule.day_of_week == "Thursday" %}selected{% endif %}>Jeudi</option>
                <option value="Friday" {% if schedule.day_of_week == "Friday" %}selected{% endif %}>Vendredi</option>
                <option value="Saturday" {% if schedule.day_of_week == "Saturday" %}selected{% endif %}>Samedi</option>
                <option value="Sunday" {% if schedule.day_of_week == "Sunday" %}selected{% endif %}>Dimanche</option>
            </select>
        </div>
        <div class="form-group">
            <label for="start_time">Heure de début:</label>
            <input type="time" name="start_time" id="start_time" value="{{ schedule.start_time|time:"H:i" }}" class="form-control">
        </div>
        <div class="form-group">
            <label for="end_time">Heure de fin:</label>
            <input type="time" name="end_time" id="end_time" value="{{ schedule.end_time|time:"H:i" }}" class="form-control">
        </div>    
        <br>
        <button type="submit" class="btn btn-primary">Mettre à jour l'emploi du temps</button>
    </form>
</div>


<style>
    body{
        background-color: #ffffff;
    }
    .btn-primary {
        background-color: #176b90;
        color: #ffffff;
    }

    .btn-primary:hover {
        background-color: #176b90;
    }

    h2 {
        color: #343a40; /* Darker color for headers */
        text-align: center; /* Center the main title */
    }

</style>
{% endblock %}
