{% load static %}

<div class="container-xxl bg-white p-0">
    <!-- Navbar Start -->
    <nav class="navbar navbar-expand-lg bg-white navbar-light sticky-top px-4 px-lg-5 py-lg-0">
        <a href="" class="navbar-brand">
            <img src="{% static 'img/LOGOPRO.png' %}" alt="" style="width: 200px; height: 130px; margin-top: -25px; margin-left: -53px;">
        </a>
        <button type="button" class="navbar-toggler" data-bs-toggle="collapse" data-bs-target="#navbarCollapse" style="margin-top: -21px;">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarCollapse">
            <div class="navbar-nav mx-auto">
                <a href="{% url 'add_groupe' %}" class="nav-item nav-link">Gestion de groupe</a>
                
                <div class="nav-item dropdown">
                    <a href="#" class="nav-link dropdown-toggle" id="studentDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                        Gestion de ressources
                    </a>
                    <ul class="dropdown-menu border-0 shadow" aria-labelledby="studentDropdown">
                        <li><a class="dropdown-item" href="{% url 'add_student' %}">Étudiant</a></li>
                        <li><a class="dropdown-item" href="{% url 'add_prof' %}">Enseignant</a></li>
                        <li><a class="dropdown-item" href="{% url "list_parents" %}">Parents</a></li>
                        <li><a class="dropdown-item" href="{% url "center_list" %}">Centers</a></li>

                    </ul>
                </div>

                {% comment %} <a href="{% url 'add_prof' %}" class="nav-item nav-link">Gestion de prof</a> {% endcomment %}
                <a href="{% url 'store_admin' %}" class="nav-item nav-link">Store</a>
                <a href="{% url 'commandes_admin' %}" class="nav-item nav-link">Commandes</a>
                <a href="{% url 'schedule_list' %}" class="nav-item nav-link">Emploi du temps</a>
                <a href="{% url 'dashboard' %}" class="nav-item nav-link">Dashboard</a>
                <a href="{% url 'userLogout' %}" class="nav-item nav-link">Déconnexion</a>
            </div>
        </div>
    </nav>
    <!-- Navbar End -->

    <style>
        /* Navbar link color on hover */
        .navbar .navbar-nav .nav-link:hover, .navbar .navbar-nav .nav-link.active {
            color: #30bb96;
        }

        /* Dropdown hover effect for desktop */
        @media (min-width: 992px) {
            .nav-item.dropdown:hover .dropdown-menu {
                display: block;
            }
        }

        /* Smooth transition for dropdown */
        .dropdown-menu {
            display: none;
            opacity: 0;
            transition: opacity 0.3s ease;
        }

        .nav-item.dropdown:hover .dropdown-menu {
            display: block;
            opacity: 1;
        }

        /* Show dropdown menu on click for mobile */
        @media (max-width: 991px) {
            .dropdown-menu {
                display: block;
                opacity: 1;
            }
        }
    </style>
</div>
