{% extends "platformTK/SuperAdmin/HomeBase.html" %}
{% load static %}

{% block content %}
{% include 'platformTK/SuperAdmin/navbar.html' %}

<div class="container mt-5">
    {% if messages %}
    <div id="message-container">
        {% for message in messages %}
            {% if message.tags == 'error' %}
                <div class="alert alert-danger alert-dismissible fade show" role="alert">
                    {{ message }}
                    <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
                </div>
            {% endif %}
            {% if message.tags == 'success' %}
                <div class="alert alert-success alert-dismissible fade show" role="alert">
                    {{ message }}
                    <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
                </div>
            {% endif %}
        {% endfor %}
    </div>
{% endif %}

<script>
    setTimeout(function() {
        var messageContainer = document.getElementById('message-container');
        if (messageContainer) {
            messageContainer.style.display = 'none';
        }
    }, 5000); 
</script>

    <!-- Filter Form Start -->
    <div class="mb-4">
        <form method="get" class="d-flex">
            <input type="text" class="form-control me-2" style="height: 42px;" name="name" placeholder="Filtrer par nom" value="{{ name_filter }}">
            <!-- Category Dropdown -->
            <select class="form-control me-2" name="category" style="height: 42px;">
                <option value="">Filtrer par Catégorie</option>
                {% for category in categories %}
                    <option value="{{ category.name }}" {% if category.name == category_filter %}selected{% endif %}>
                        {{ category.name }}
                    </option>
                {% endfor %}
            </select>
            <button type="submit" class="btn btn-primary" style="height: 42px;">Appliquer</button>&nbsp;
            <a href="{% url 'store_admin' %}" class="btn btn-secondary" style="height: 42px;">Annuler</a>

        </form>
    </div>
    <!-- Filter Form End -->

    <!-- Button to Open the Add Product Modal -->
    <button type="button" class="btn btn-primary mb-3" data-bs-toggle="modal" data-bs-target="#addProductModal" style="background-color: #176b90;">
        Ajouter un Nouveau Produit
    </button>
    <button class="btn btn-primary mb-3" onclick="openCategoryModal()" style="background-color: #176b90;">Ajouter la Catégorie</button>

    <!-- Product List Table -->
    <table class="table table-striped">
        <thead>
            <tr>
                <th>Nom</th>
                <th>Description</th>
                <th>Catégorie</th>
                <th>Prix</th>
                <th>Stock</th>
                <th>Image</th>
                <th>Date Ajoutée</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
            {% for product in products %}
            <tr>
                <td>{{ product.name }}</td>
                <td>{{ product.description|truncatechars:50 }}</td>
                <td>{{ product.category.name }}</td>
                <td>${{ product.price }}</td>
                <td>{{ product.stock }}</td>
                <td>
                    {% if product.image %}
                        <img src="{{ product.image.url }}" alt="{{ product.name }}" style="width: 100px;">
                    {% else %}
                        Pas d'Image
                    {% endif %}
                </td>
                <td>{{ product.date_added|date:"M d, Y" }}</td>
                <td>
                    <!-- Edit Button -->
                    <button type="button" class="btn btn-warning btn-sm" data-bs-toggle="modal" style="width: 114px;margin-bottom: 10px;" data-bs-target="#editProductModal{{ product.ProductCode }}">
                        Modifier
                    </button>
                    
                    <!-- Delete Button -->
                    <button type="button" class="btn btn-danger btn-sm" data-bs-toggle="modal" data-bs-target="#confirmDeleteModal{{ product.ProductCode }}">
                        Supprimer
                    </button>
                </td>
            </tr>
            {% empty %}
            <tr>
                <td colspan="8" class="text-center">Aucun produit trouvé.</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>

    <!-- Pagination Controls -->
    <div class="d-flex justify-content-center mt-4">
        <nav>
            <ul class="pagination">
                {% if products.has_previous %}
                    <li class="page-item">
                        <a class="page-link" href="?page=1{% if name_filter %}&name={{ name_filter }}{% endif %}{% if category_filter %}&category={{ category_filter }}{% endif %}">Première</a>
                    </li>
                    <li class="page-item">
                        <a class="page-link" href="?page={{ products.previous_page_number }}{% if name_filter %}&name={{ name_filter }}{% endif %}{% if category_filter %}&category={{ category_filter }}{% endif %}">Précédente</a>
                    </li>
                {% endif %}
                {% for num in products.paginator.page_range %}
                    <li class="page-item {% if num == products.number %}active{% endif %}">
                        <a class="page-link" href="?page={{ num }}{% if name_filter %}&name={{ name_filter }}{% endif %}{% if category_filter %}&category={{ category_filter }}{% endif %}">{{ num }}</a>
                    </li>
                {% endfor %}
                {% if products.has_next %}
                    <li class="page-item">
                        <a class="page-link" href="?page={{ products.next_page_number }}{% if name_filter %}&name={{ name_filter }}{% endif %}{% if category_filter %}&category={{ category_filter }}{% endif %}">Suivante</a>
                    </li>
                    <li class="page-item">
                        <a class="page-link" href="?page={{ products.paginator.num_pages }}{% if name_filter %}&name={{ name_filter }}{% endif %}{% if category_filter %}&category={{ category_filter }}{% endif %}">Dernière</a>
                    </li>
                {% endif %}
            </ul>
        </nav>
    </div>
</div>


<!-- Add Product Modal -->
<div class="modal fade full-width-modal" id="addProductModal" tabindex="-1" aria-labelledby="addProductModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered modal-full-width">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="addProductModalLabel">Ajouter un Nouveau Produit</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <!-- Add Product Form -->
                <form method="post" action="{% url 'add_product' %}" enctype="multipart/form-data">
                    {% csrf_token %}
                    <div class="mb-3">
                        <label for="name" class="form-label">Nom</label>
                        <input type="text" class="form-control" id="name" name="name" required>
                    </div>
                    <div class="mb-3">
                        <label for="description" class="form-label">Description</label>
                        <textarea class="form-control" id="description" name="description" rows="3" required></textarea>
                    </div>
                    <div class="mb-3">
                        <label for="category" class="form-label">Catégorie</label>
                        <select class="form-select" id="category" name="category" required>
                            {% for category in categories %}
                            <option value="{{ category.id }}">{{ category.name }}</option>
                            {% endfor %}
                        </select>
                    </div>
                    <div class="mb-3">
                        <label for="price" class="form-label">Prix</label>
                        <input type="number" step="0.01" class="form-control" id="price" name="price" required>
                    </div>
                    <div class="mb-3">
                        <label for="stock" class="form-label">Stock</label>
                        <input type="number" class="form-control" id="stock" name="stock" required>
                    </div>
                    <div class="mb-3">
                        <label for="image" class="form-label">Image</label>
                        <input type="file" class="form-control" id="image" name="image">
                    </div>
                    <div class="modal-footer center-buttons">
                        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Fermer</button>
                        <button type="submit" class="btn btn-primary">Ajouter le Produit</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>

<!-- Edit Product Modal -->
{% for product in products %}
<div class="modal fade full-width-modal" id="editProductModal{{ product.ProductCode }}" tabindex="-1" aria-labelledby="editProductModalLabel{{ product.ProductCode }}" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered modal-full-width">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="editProductModalLabel{{ product.ProductCode }}">Modifier le Produit</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <!-- Edit Product Form -->
                <form method="post" action="{% url 'update_product' product.ProductCode %}" enctype="multipart/form-data">
                    {% csrf_token %}
                    <div class="mb-3">
                        <label for="name" class="form-label">Nom</label>
                        <input type="text" class="form-control" id="name" name="name" value="{{ product.name }}" required>
                    </div>
                    <div class="mb-3">
                        <label for="description" class="form-label">Description</label>
                        <textarea class="form-control" id="description" name="description" rows="3" required>{{ product.description }}</textarea>
                    </div>
                    <div class="mb-3">
                        <label for="category" class="form-label">Catégorie</label>
                        <select class="form-select" id="category" name="category" required>
                            {% for category in categories %}
                                <option value="{{ category.id }}" {% if product.category.id == category.id %}selected{% endif %}>
                                    {{ category.name }}
                                </option>
                            {% endfor %}
                        </select>
                    </div>
                    <div class="mb-3">
                        <label for="price" class="form-label">Prix</label>
                        <input type="number" step="0.01" class="form-control" id="price" name="price" value="{{ product.price }}" required>
                    </div>
                    <div class="mb-3">
                        <label for="stock" class="form-label">Stock</label>
                        <input type="number" class="form-control" id="stock" name="stock" value="{{ product.stock }}" required>
                    </div>
                    <div class="mb-3">
                        <label for="image" class="form-label">Image</label>
                        <input type="file" class="form-control" id="image" name="image">
                        {% if product.image %}
                            <img src="{{ product.image.url }}" alt="{{ product.name }}" style="width: 100px; margin-top: 10px;">
                        {% endif %}
                    </div>
                    <div class="modal-footer center-buttons">
                        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Annuler</button>
                        <button type="submit" class="btn btn-primary">Sauvegarder les modifications</button>
                    </div>
                </form>                
            </div>
        </div>
    </div>
</div>
{% endfor %}

<!-- Delete Confirmation Modals -->
{% for product in products %}
<div class="modal fade full-width-modal" id="confirmDeleteModal{{ product.ProductCode }}" tabindex="-1" aria-labelledby="confirmDeleteModalLabel{{ product.ProductCode }}" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered modal-full-width">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="confirmDeleteModalLabel{{ product.ProductCode }}">Confirmer la Suppression</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                Êtes-vous sûr de vouloir supprimer ce produit ?
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Annuler</button>
                <form action="{% url 'delete_product' product.ProductCode %}" method="post" style="display:inline;">
                    {% csrf_token %}
                    <button type="submit" class="btn btn-danger">Supprimer</button>
                </form>
            </div>
        </div>
    </div>
</div>
{% endfor %}



    <!-- Category Modal -->
    <div id="categoryModal" class="modal">
        <div class="modal-content">
            <div class="modal-header">
                <span class="close" onclick="closeCategoryModal()">&times;</span>
                <h2>Ajouter une Nouvelle Catégorie</h2>
            </div>
            <div class="modal-body">
                <form method="POST" action="{% url 'add_category' %}">
                    {% csrf_token %}
                    <div class="form-group">
                        <label for="category_name">Nom de la Catégorie:</label>
                        <input type="text" id="category_name" name="category_name" class="form-control" required>
                    </div>
                    <br>
                    <div class="text-center">
                        <button type="submit" class="btn btn-primary">Ajouter la Catégorie</button>
                        <a href="{% url 'list_categories' %}" class="btn btn-primary">Voir Toutes les Catégories</a>
                    </div>
                </form>
            </div>
        </div>
    </div>
    
    <script>
        function openCategoryModal() {
            document.getElementById("categoryModal").style.display = "block";
        }
    
        function closeCategoryModal() {
            document.getElementById("categoryModal").style.display = "none";
        }
    </script>


<style>
    .center-buttons {
        display: flex;
        justify-content: center;
        gap: 10px; /* Optional: adds space between the buttons */
    }

    /* Full Width Modal Styles */
.full-width-modal .modal-dialog.modal-full-width {
    max-width: 100%; /* Full width */
    margin: 0; /* Remove default margin */
    width: 100%; /* Ensure full width */
}

.full-width-modal .modal-content {
    border-radius: 0; /* Optional: remove rounded corners */
}

.center-buttons {
    display: flex;
    justify-content: center;
    gap: 10px; /* Optional: adds space between the buttons */
}

/* CSS for Full Width Modal */
.modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    {% comment %} z-index: 1; /* Sit on top */ {% endcomment %}
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgba(0,0,0,0.4); /* Black background with opacity */
}

.modal-content {
    background-color: #fefefe;
    margin: 15% auto; /* 15% from the top and centered */
    padding: 20px;
    border: 1px solid #888;
    width: 100%; /* Width of modal content */
    max-width: 1000px; /* Max width */
    border-radius: 5px;
    margin-top: -53px;

}

.close {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.close:hover,
.close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
}
</style>

<style>
    .page-item.active .page-link {
        z-index: 3;
        color: #fff;
        background-color: #176b90;
        border-color: #176b90;
    }
    .page-link {
        color: #176b90;
    }

    .modal-header {
    background-color: #30bb96;
    }
    .btn-primary {
        background-color: #176b90;
        color: #ffffff;
    }
</style>



{% endblock %}
