{% block content %}
<div class="container">
    {% if error_message %}
    <div class="alert alert-danger" role="alert">
        {{ error_message }}
    </div>
{% endif %}

    <h2>Add Section to {{ competition.name }}</h2>
    <form action="{% url 'add_section' competition.id %}" method="post">
        {% csrf_token %}
        <div class="mb-3">
            <label for="sectionName" class="form-label">Section Name</label>
            <input type="text" class="form-control" id="sectionName" name="section_name" placeholder="Enter section name" required>
        </div>
        <div class="mb-3">
            <label for="students" class="form-label">Select Students</label>
            <select multiple class="form-control" id="students" name="students">
                {% for student in students %}
                    <option value="{{ student.id }}">{{ student.prenom }} {{ student.nom }}</option>
                {% endfor %}
            </select>
        </div>
        <button type="submit" class="btn btn-primary">Add Section</button>
    </form>
</div>
<a href="{% url 'competition_sections' competition.id %}">        <button type="submit" class="btn btn-primary">Back list competition</button>
</a>
{% endblock %}
