{% extends "platformTK/Prof/HomeBase.html" %}

{% load static %}

{% block content %}
    {% include 'platformTK/Prof/navbar.html' %}

    <div class="container-xxl py-5">
        <div class="row justify-content-center">
            <div class="col-lg-6 mb-4 text-center">
                <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#addCompetitionModal">
                    Ajouter une nouvelle compétition
                </button>
            </div>

            <!-- Competitions Table -->
            <div class="col-lg-12 mb-4">
                <div class="table-wrapper">
                    <h2 class="table-title">Competitions</h2>
                    <table class="table table-striped">
                        <thead>
                            <tr>
                                <th>#</th>
                                <th>Nom</th>
                                <th>Date</th>
                                <th>Participants</th>
                                {% comment %} <th>Groupes</th> {% endcomment %}
                                <th>Afficher</th>                                
                            </tr>
                        </thead>
                        <tbody>
                            {% for competition in competitions %}
                            <tr>
                                <td>{{ forloop.counter }}</td>
                                <td>{{competition.name}}</td>
                                <td>{{competition.date_created}}</td>
                                <td>{{competition.number_of_sections}}</td>
                                {% comment %} <td><a href="{% url 'add_section' competition.id %}">Voir les Groupes</a></td> {% endcomment %}
                                <td><a href="{% url 'competition_sections' competition.id %}">Afficher le competition</a></td>
                            </tr>
                           {% endfor %}
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>

    <!-- Modal for Adding New Competition -->
    <div class="modal fade" id="addCompetitionModal" tabindex="-1" aria-labelledby="addCompetitionModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-lg">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="addCompetitionModalLabel">Ajouter une nouvelle compétition</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <form action="{% url 'add_competition' %}" method="post">
                        {% csrf_token %}
                        <div class="mb-3">
                            <label for="compName" class="form-label">Nom du compétition</label>
                            <input type="text" class="form-control" id="compName" name="name" placeholder="Entrez le nom du compétition" required>
                        </div>
                        <div class="mb-3">
                            <label for="compParticipants" class="form-label">Nombre de groupes</label>
                            <input type="number" class="form-control" id="compParticipants" name="number_of_sections" placeholder="Entrez le nombre de groupes" required>
                        </div>
                        <div class="mb-3">
                            <label for="group" class="form-label">Sélectionner le groupe</label>
                            <select class="form-control" id="group" name="group" required>
                                <option value="" disabled selected>Sélectionnez un groupe</option>
                                {% for group in groups %}
                                    <option value="{{ group.id }}">{{ group.name }}</option>
                                {% endfor %}
                            </select>
                        </div>
                        <button type="submit" class="btn btn-primary">Ajouter une compétition</button>
                    </form>
                </div>
            </div>
        </div>
    </div>
    

    <!-- Bootstrap JS Bundle (Includes Popper) -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js"></script>


    <style>
        .btn-primary {
            background-color: #176b90;
            border-color: #fff5f3;
        }

        .btn-primary:hover {
            background-color: #30bb96;
            border-color: #fff5f3;
        }

        a {
            color: #121212;
            text-decoration: none;
        }

        a:hover {
            color: #30bb96;
        }


        @media only screen and (max-width: 768px) {
            .mt-5 {
                margin-top: 12rem !important;
            }
        }

        @media only screen and (max-width: 430px) {
            .mt-5 {
                margin-top: 18rem !important;
            }
        }

    </style>


  
{% endblock  %}
