{% extends "platformTK/Prof/HomeBase.html" %}

{% load static %}

{% block content %}
    {% include 'platformTK/Prof/navbar.html' %}

    <div class="container-xxl py-5">
        <div class="row">
            <!-- Group Information -->
            <div class="col-lg-6 mb-4">
                <div class="card group-info-card">
                    <div class="card-body">
                        <h2 class="card-title">{{ group.name }}</h2>
                        <p><strong>Date:</strong>{{ group.date_created }}</p>
                        <p><strong>Lieu:</strong> Takouine Smart Center</p>
                        <p><strong>Participants:</strong> {{ group.etudiants.count }}</p>
                        <a href="{% url 'Répartition_points' code_group=group.code_group %}" class="btn btn-primary" style=" background-color: #176b90;
                        border-color: #ffffff;">
                            Répartition des points
                        </a>
                        {% comment %} <a href="" class="btn btn-dark rounded-pill py-sm-3 px-sm-5 animated slideInRight">Recompation</a> {% endcomment %}
                    </div>
                </div>
            </div>

        <!-- Students List -->
        <div class="col-lg-6 mb-4">
            <div class="card students-list-card">
                <div class="card-body">
                    <h2 class="card-title">Students in this Group</h2>
                    <table class="table table-striped">
                        <thead>
                            <tr>
                                <th>#</th>
                                <th>Name</th>
                                <th>Group</th>
                                {% comment %} <th>Phone Number</th> {% endcomment %}
                                <th>Points</th> 
                            </tr>
                        </thead>
                        <tbody>
                            {% for student in students %}
                            <tr>
                                <td>{{ forloop.counter }}</td>
                                <td>{{ student.prenom }} {{ student.nom }}</td>
                                {% comment %} <td>{{ student.email }}</td> {% endcomment %}
                                <td>{{ group.name }}</td>
                                <td>{{ student.pointsG }}</td> 
                            </tr>
                            {% empty %}
                            <tr>
                                <td colspan="5" class="text-center">No students found in this group.</td>
                            </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>    
</div>

<style>

</style>


{% endblock %}

