{% extends "platformTK/Prof/HomeBase.html" %}

{% load static %}

{% block content %}
    {% include 'platformTK/Prof/navbar.html' %}
    
    <div class="container-xxl py-5">
        <div class="row justify-content-center">
        
            <!-- Competitions Table -->
            <div class="col-lg-12 mb-4">
                <div class="table-wrapper">
                    <h2 class="table-title">Groupes</h2>
                    <table class="table table-striped">
                        <thead>
                            <tr>
                                <th>#</th>
                                <th>Nom</th>
                                <th>Date</th>
                                <th>Code Group</th>
                                <th>Participants</th>
                                <th>Total Points</th>
                                <th>ALL</th>
                            </tr>
                        </thead>
                        <tbody>
                            {% for group in groups %}
                            <tr>
                                <td>{{ forloop.counter }}</td>
                                <td>{{ group.name }}</td>
                                <td>{{ group.date_created }}</td>
                                <td>{{ group.code_group }} </td>
                                <td>{{ group.etudiants.count }}</td>
                                <th>{{ group.total_points }}</th>
                                <td><a href="{% url 'group_detail' code_group=group.code_group %}">Show</a></td>
                            </tr>
                            {% empty %}
                            <tr>
                                <td colspan="4" class="text-center">No groups found.</td>
                            </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>

    
    <style>
        a {
            color: #121212;
            text-decoration: none;
        }

        a:hover {
            color: #30bb96;
        }
    </style>
  
{% endblock  %}