{% load static %}
{% load custom_filters %}

{% block content %}
{% include 'platformTK/Prof/navbar.html' %}

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">

    <!-- jQuery -->
    <script src="https://code.jquery.com/jquery-3.5.1.min.js"></script>

    <!-- Popper.js -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>

    <!-- Bootstrap JS -->
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>


<div class="container mt-5">
    {% if messages %}
    <div id="message-container">
        {% for message in messages %}
            {% if message.tags == 'error' %}
                <div class="alert alert-danger alert-dismissible fade show" role="alert">
                    {{ message }}
                    <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
                </div>
            {% endif %}
            {% if message.tags == 'success' %}
                <div class="alert alert-success alert-dismissible fade show" role="alert">
                    {{ message }}
                    <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
                </div>
            {% endif %}
        {% endfor %}
    </div>
{% endif %}




<a href="{% url "attendance_by_group_for_prof" %}"> <button class="btn btn-primary mb-3"  style="background-color: #176b90;">attendance_by_group_for_prof</button></a>

<a href="{% url "student_balance_report" %}"> <button class="btn btn-primary mb-3"  style="background-color: #176b90;">student_balance_report</button></a>

<a href="{% url "competition_history_for_prof" %}"> <button class="btn btn-primary mb-3"  style="background-color: #176b90;">competition_history_for_prof</button></a>

<a href="{% url "participation_discipline_history" %}"> <button class="btn btn-primary mb-3"  style="background-color: #176b90;">participation_discipline_history</button></a>

<a href="{% url "student_participation_discipline_history" %}"> <button class="btn btn-primary mb-3"  style="background-color: #176b90;">student_participation_discipline_history</button></a>


<!-- Button to open the modal -->
<button type="button" class="btn btn-primary" data-toggle="modal" data-target="#studentModal">
    Select Student
</button>

<!-- Modal Popup -->
<div class="modal fade" id="studentModal" tabindex="-1" aria-labelledby="studentModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="studentModalLabel">Select a Student</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <form method="post" action="{% url 'absence_by_student_for_prof' %}">
                    {% csrf_token %}
                    <div class="form-group">
                        <label for="studentSelect">Choose a Student:</label>
                        <select class="form-control" id="studentSelect" name="student_id">
                            {% for student in students %}
                                <option value="{{ student.id }}">{{ student.prenom|capitalize_first  }} {{ student.nom|capitalize_first  }}</option>
                            {% endfor %}
                        </select>
                    </div>
                    <button type="submit" class="btn btn-primary">Generate Attendance Report</button>
                </form>
            </div>
        </div>
    </div>
</div>




{% endblock %}
