{% extends "platformTK/Prof/HomeBase.html" %}
{% load static %}
{% load custom_filters %}

{% block content %}
{% include 'platformTK/Prof/navbar.html' %}
<link href="{% static 'css/Répartition_points.css' %}" rel="stylesheet">

    <!-- Filter Form Start -->
    <div class="container-xxl py-5">
        <div class="container">
            <!-- Students List Start -->
            <div class="text-center mx-auto mb-5 wow fadeInUp" data-wow-delay="0.1s" style="max-width: 600px;">
                <h1 class="mb-3">Students of {{ group.name }}</h1>
            </div>
            <form method="get" class="mb-4">
                <div class="row g-3">
                    <div class="col-md-4">
                        <input type="text" class="form-control" name="prenom" placeholder="Filter by Prenom" value="{{ request.GET.prenom }}">
                    </div>
                    <div class="col-md-4">
                        <input type="text" class="form-control" name="nom" placeholder="Filter by Nom" value="{{ request.GET.nom }}">
                    </div>
                    <div class="col-md-4">
                        <input type="text" class="form-control" name="code" placeholder="Filter by Code Etudiant" value="{{ request.GET.code }}">
                    </div>
                    <div class="col-md-12">
                        <button type="submit" class="btn btn-primary" style="background-color: #176b90;border-color: #176b90;">Apply Filters</button>
                        <a href="{% url 'Répartition_points' code_group=group.code_group %}" class="btn btn-secondary">Cancel Filter</a>
                    </div>
                </div>
            </form>
            <div class="row g-4">
                {% for student in students %}
                    <div class="col-lg-4 col-md-6 wow fadeInUp" data-wow-delay="0.1s">
                        <div class="classes-item">
                            <div class="bg-light rounded-circle w-75 mx-auto p-3">
                                <img class="img-fluid rounded-circle" src="img/classes-1.jpg" alt="">
                            </div>
                            <div class="bg-light rounded p-4 pt-5 mt-n5">
                                <a class="d-block text-center h3 mt-3 mb-4" href="">{{ student.prenom }} {{ student.nom }}</a>
                                <div class="d-flex align-items-center justify-content-between mb-4">
                                    <div class="d-flex align-items-center">
                                        {% if student.avatar %}
                                        <img class="rounded-circle flex-shrink-0" src="{{ student.avatar.url }}" alt="" style="width: 55px;height: 55px;">
                                        {% else %}
                                        <img class="rounded-circle flex-shrink-0" src="{% static 'img/user.jpg' %}" alt="" style="width: 55px;height: 55px;">
                                        {% endif %}
                                        <div class="ms-3">
                                            <h6 class="text-primary mb-1" style="color: #30bb96 !important;">{{ student.prenom }} {{ student.nom }}</h6>
                                            <small>{{ student.EtudiantCode }}</small>
                                        </div> 
                                    </div>
                                    <span class="bg-primary text-white rounded-pill py-2 px-3" style="background-color: #176b90 !important;">
                                        ${{ memberships_dict|get_item:student.id }}
                                    </span>
                                </div>
                                <div class="row g-1">
                                    <div class="col-4">
                                        <div class="border-top border-3 border-primary pt-2" style="border-color: #103741 !important;">
                                            <h6 class="text-primary mb-1">Add:</h6>
                                            <small>
                                                <button type="button" 
                                                        class="bg-primary text-white rounded-pill py-2 px-3" 
                                                        data-bs-toggle="modal" 
                                                        data-bs-target="#addItemModal" 
                                                        data-student-id="{{ student.id }}" 
                                                        data-group-id="{{ group.id }}" 
                                                        style="background-color: #176b90 !important;">Add</button>
                                            </small>
                                        </div>
                                    </div>
                                    <div class="col-4"></div>
                                    <div class="col-4">
                                        <div class="border-top border-3 border-warning pt-2" style="border-color: #103741 !important;">
                                            <h6 class="text-warning mb-1">Minus:</h6>
                                            <small>
                                                <button type="button" 
                                                        class="bg-primary text-white rounded-pill py-2 px-3" 
                                                        data-bs-toggle="modal" 
                                                        data-bs-target="#minusItemModal" 
                                                        data-student-id="{{ student.id }}" 
                                                        data-group-id="{{ group.id }}" 
                                                        style="background-color: #176b90 !important;">Minus</button>
                                            </small>                                    
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                {% endfor %}
                {% if not students %}
                <p>No students found matching your search.</p>
                {% endif %}
            </div>
        </div>
    </div>


<!-- Add Item Modal -->
<div id="addItemModal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="addItemModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="addItemModalLabel">Select Amount to Add</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <form id="addPointsForm">
                    {% csrf_token %}
                    <div class="mb-3">
                        <label for="dropdownAmount" class="form-label">Choose an amount</label>
                        <select class="form-select" id="dropdownAmount" aria-label="Amount select">
                            <option selected>Select an amount</option>
                            <option value="1">1$</option>
                            <option value="5">5$</option>
                            <option value="10">10$</option>
                        </select>
                    </div>
                </form>                                
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                <button type="button" class="btn btn-primary" onclick="triggerAnimation()" style="background-color: #0b3548;border-color: #ffffff;">Save changes</button>
            </div>
        </div>
    </div>
</div>

<!-- Winning Animation -->
<div id="winAnimation" class="win-animation d-none">
    <div class="animation-container">
        <div class="trophy-icon">🏆</div>
        <div class="confetti-container">
            <div class="confetti-emoji">
                <span>🎉</span>
                <span>🎉</span>
                <span>🎉</span>
            </div>
            <div class="confetti">
                <div class="confetti-piece"></div>
                <div class="confetti-piece"></div>
                <div class="confetti-piece"></div>
                <div class="confetti-piece"></div>
                <div class="confetti-piece"></div>
            </div>
        </div>
        <div class="stars">
            <div class="star"></div>
            <div class="star"></div>
            <div class="star"></div>
            <div class="star"></div>
            <div class="star"></div>
        </div>
    </div>
</div>

<!-- Winning Sound -->
<audio id="winningSound" src="{% static 'mixkit-small-group-moderate-applause-505 (mp3cut.net).mp3' %}" preload="auto"></audio>

<!-- Minus Item Modal -->
<div id="minusItemModal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="minusItemModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="minusItemModalLabel">Select Amount to Subtract</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <form id="minusPointsForm">
                    {% csrf_token %}
                    <div class="mb-3">
                        <label for="dropdownMinusAmount" class="form-label">Choose an amount</label>
                        <select class="form-select" id="dropdownMinusAmount" aria-label="Amount select">
                            <option selected>Select an amount</option>
                            <option value="1">-1$</option>
                            <option value="5">-5$</option>
                            <option value="10">-10$</option>
                        </select>
                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                <button type="button" class="btn btn-primary" onclick="triggerLossAnimation()" style="background-color: #0b3548;border-color: #ffffff;">Save changes</button>
            </div>
        </div>
    </div>
</div>

<!-- Loss Animation -->
<div id="lossAnimation" class="win-animation d-none">
    <div class="animation-container">
        <div class="sad-face">😞</div>
        <div class="confetti-container">
            <div class="confetti-emoji">
                <span>💔</span>
                <span>💔</span>
                <span>💔</span>
            </div>
            <div class="confetti">
                <div class="confetti-piece"></div>
                <div class="confetti-piece"></div>
                <div class="confetti-piece"></div>
                <div class="confetti-piece"></div>
                <div class="confetti-piece"></div>
            </div>
        </div>
        <div class="stars">
            <div class="star"></div>
            <div class="star"></div>
            <div class="star"></div>
            <div class="star"></div>
            <div class="star"></div>
        </div>
    </div>
</div>

<!-- Loss Sound -->
<audio id="losingSound" src="{% static 'verloren-89595 (mp3cut.net).mp3' %}" preload="auto"></audio>

<script>
    let selectedStudentId = null;
    let selectedGroupId = null; // Variable to store the selected group ID
    
    document.querySelectorAll('[data-bs-target="#addItemModal"], [data-bs-target="#minusItemModal"]').forEach(button => {
        button.addEventListener('click', function () {
            selectedStudentId = this.getAttribute('data-student-id');
            selectedGroupId = this.getAttribute('data-group-id');
            console.log('Selected Student ID:', selectedStudentId);
            console.log('Selected Group ID:', selectedGroupId);
        });
    });
    
    // Function to trigger the winning animation
    function triggerAnimation() {
        var selectedAmount = document.getElementById('dropdownAmount').value;
        console.log('Selected Amount (Add):', selectedAmount);
        if (selectedAmount && selectedAmount !== 'Select an amount') {
            bootstrap.Modal.getInstance(document.getElementById('addItemModal')).hide();
            document.getElementById('winAnimation').classList.remove('d-none');
            document.getElementById('winningSound').play();
            setTimeout(() => {
                document.getElementById('winAnimation').classList.add('d-none');
                location.reload();
            }, 3000);
    
            if (selectedStudentId && selectedGroupId) {
                fetch(`/update_points/${selectedStudentId}/${selectedGroupId}/`, {
                    method: 'POST',
                    headers: {
                        'Content-Type': 'application/json',
                        'X-CSRFToken': document.querySelector('[name=csrfmiddlewaretoken]').value
                    },
                    body: JSON.stringify({ amount: selectedAmount })
                })
                .then(response => response.json())
                .then(data => {
                    console.log('Success (Add):', data);
                })
                .catch((error) => {
                    console.error('Error (Add):', error);
                });
            } else {
                alert('No student or group selected.');
            }
        } else {
            alert('Please select a valid amount.');
        }
    }
    
    // Function to trigger the loss animation
    function triggerLossAnimation() {
        var selectedAmount = document.getElementById('dropdownMinusAmount').value;
        console.log('Selected Amount (Minus):', selectedAmount);
    
        if (selectedAmount && selectedAmount !== 'Select an amount') {
            var amount = parseInt(selectedAmount); 
            console.log('Parsed Amount:', amount);
            console.log('Selected Student ID (Minus):', selectedStudentId);
            console.log('Selected Group ID (Minus):', selectedGroupId);
    
            if (selectedStudentId && selectedGroupId) {
                fetch(`/subtract_points/${selectedStudentId}/${selectedGroupId}/`, {
                    method: 'POST',
                    headers: {
                        'Content-Type': 'application/json',
                        'X-CSRFToken': document.querySelector('[name=csrfmiddlewaretoken]').value
                    },
                    body: JSON.stringify({ amount: amount })
                })
                .then(response => response.json())
                .then(data => {
                    if (data.success) {
                        console.log('Points subtracted successfully');
                        bootstrap.Modal.getInstance(document.getElementById('minusItemModal')).hide();
                        document.getElementById('lossAnimation').classList.remove('d-none');
                        document.getElementById('losingSound').play();
                        setTimeout(() => {
                            document.getElementById('lossAnimation').classList.add('d-none');
                            location.reload();
                        }, 3000);
                    } else {
                        console.error('Error (Minus):', data.error);
                        alert('Failed to subtract points: ' + data.error);
                    }
                })
                .catch((error) => {
                    console.error('Error (Minus):', error);
                });
            } else {
                alert('No student or group selected.');
            }
        } else {
            alert('Please select a valid amount.');
        }
    }
    
    
</script>


        </div>
    </div>
</div>

{% endblock  %}