{% extends "platformTK/Etudiant/HomeBase.html" %}
{% load static %}
{% load custom_filters %}

{% block content %}
{% include 'platformTK/Etudiant/navbar.html' %}

<div class="container-xxl py-5">
    <div class="container">
        <div class="text-center mb-5">
            <h1 class="mb-3">Mes Compétitions</h1>
            <p class="lead">Voici les compétitions auxquelles vous participez, {{ etudiant.prenom|capitalize_first }}.</p>
        </div>        

        <div class="row justify-content-center">
            {% if competition_section_data %}
            <!-- Competitions Table -->
            <div class="col-lg-12 mb-4">
                <div class="table-wrapper">
                    <div class="table-responsive">
                        <table class="table table-striped">
                            <thead>
                                <tr>
                                    <th>#</th>
                                    <th>Nom de la Compétition</th>
                                    <th>Nom de la Section</th>
                                    <th>Points</th>
                                    <th class="d-none d-md-table-cell">Classement</th> <!-- Hidden on SM and XS -->
                                    <th>Le Prix</th> <!-- Visible on all screen sizes -->
                                    <th class="d-none d-md-table-cell">Date de Création</th> <!-- Hidden on SM and XS -->
                                    <th class="d-none d-md-table-cell">Statut</th> <!-- Hidden on SM and XS -->
                                </tr>                                
                            </thead>
                            <tbody>
                                {% for data in competition_section_data %}
                                <tr>
                                    <td>{{ forloop.counter }}</td>
                                    <td>{{ data.competition.name }}</td>
                                    <td>{{ data.section.section_name }}</td>
                                    <td>{{ data.points }}</td>
                                    <td class="d-none d-md-table-cell">{{ data.rank }}/{{ data.competition.number_of_sections }}</td>
                                    <td>
                                        {% if data.rank == 1 %}
                                        Vous avez gagné 10 $
                                        {% elif data.rank == 2 %}
                                        Vous avez gagné 5 $
                                        {% elif data.rank == 3 %}
                                        Vous avez gagné 1 $
                                        {% else %}
                                        Vous avez gagné 0 $
                                        {% endif %}
                                    </td>                                    
                                    <td class="d-none d-md-table-cell">{{ data.competition.date_created|date:"M d, Y" }}</td>
                                    <td class="d-none d-md-table-cell">
                                        {% if data.competition.is_finished %}
                                            <span class="badge bg-success text-white">Terminé</span>
                                        {% else %}
                                            <span class="badge bg-warning text-dark">En cours</span>
                                        {% endif %}
                                    </td>                                    
                                </tr>
                                {% endfor %}
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
            {% else %}
            <div class="alert alert-info" role="alert">
                Vous ne participez à aucune compétition.
            </div>
            
            {% endif %}
        </div>
    </div>
</div>

<style>
    .mt-5 {
        margin-top: 5rem !important;
    }
</style>
{% endblock %}
