{% extends "platformTK/Etudiant/HomeBase.html" %}
{% load static %}
{% load custom_filters %}


{% block content %}
{% include 'platformTK/Etudiant/navbar.html' %}

<div class="container-xxl py-5">
    <div class="container">
        <div class="text-center mb-5">
            <h1 class="mb-3">Mes Groupes</h1>
            <p class="lead">Voici les groupes dont vous faites partie, {{ etudiant.prenom|capitalize_first }}.</p>
        </div>        

        <div class="row justify-content-center">
            {% if group_data %}
            <!-- Groups Table -->
            <div class="col-lg-12 mb-4">
                <div class="table-wrapper">
                    <div class="table-responsive">
                        <table class="table table-striped">
                            <thead>
                                <tr>
                                    <th>#</th>
                                    <th>Nom du Groupe</th>
                                    {% comment %} <th>Description</th> {% endcomment %}
                                    <th>Vos Points</th>
                                    <th>Votre Rang</th>
                                    <th>Total d'Étudiants</th>
                                </tr>                                
                            </thead>
                            <tbody>
                                {% for data in group_data %}
                                <tr>
                                    <td>{{ forloop.counter }}</td>
                                    <td>{{ data.group.name }}</td>
                                    {% comment %} <td class="d-none d-md-table-cell" style="width: 309px;">{{ data.group.description }}</td> {% endcomment %}
                                    <td>{{ data.points }}</td>
                                    <td>{{ data.rank }}/{{ data.total_students }}</td>
                                    <td>{{ data.total_students }}</td>
                                </tr>
                                {% endfor %}
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
            {% else %}
            <div class="alert alert-info" role="alert">
                Vous ne faites partie d'aucun groupe.
            </div>            
            {% endif %}
        </div>
    </div>
</div>
<style>
    .mt-5 {
        margin-top: 5rem !important;
    }
</style>

{% endblock %}
