{% extends "platformTK/Parents/HomeBase.html" %}
{% load static %}
{% load custom_filters %}

{% block content %}
    {% include 'platformTK/Parents/navbar.html' %}
    
    <div class="container mt-4">
        <h2 class="text-center">Compétitions Associées</h2>

        {% if student_data %}
            {% for student in student_data %}
            <div class="mb-4">
                <h3>{{ student.etudiant.prenom|capitalize_first }} {{ student.etudiant.nom|capitalize_first }} - Compétitions Associées</h3>
                <div class="table-responsive">
                    <table class="table table-striped">
                        <thead>
                            <tr>
                                <th>N°</th>
                                <th>Nom de la Compétition</th>
                                <th>Section</th>
                                <th>Points</th>
                                <th>Rang</th>
                                <th>Le Prix</th>
                            </tr>
                        </thead>
                        <tbody>
                            {% if student.competition_section_data %}
                                {% for data in student.competition_section_data %}
                                <tr>
                                    <td>{{ forloop.counter }}</td>
                                    <td>{{ data.competition.name }}</td>
                                    <td>{{ data.section.section_name }}</td>
                                    <td>{{ data.points }}</td>
                                    <td>{{ data.rank }}/{{ data.competition.number_of_sections }}</td>
                                    <td>
                                        {% if data.rank == 1 %}
                                        Vous avez gagné 10 $
                                        {% elif data.rank == 2 %}
                                        Vous avez gagné 5 $
                                        {% elif data.rank == 3 %}
                                        Vous avez gagné 1 $
                                        {% else %}
                                        Vous avez gagné 0 $
                                        {% endif %}
                                    </td>
                                </tr>
                                {% endfor %}
                            {% else %}
                                <tr>
                                    <td colspan="6" class="text-center alert alert-info">Aucune compétition associée pour cet étudiant.</td>
                                </tr>
                            {% endif %}
                        </tbody>
                    </table>
                </div>
            </div>
            {% endfor %}
        {% else %}
            <p class="text-center">Aucune compétition trouvée pour vos étudiants.</p>
        {% endif %}
    </div>
{% endblock %}
