{% load static  %}
{% load custom_filters %}

<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <title>Platform Takouine</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="keywords" content="">
    <meta name="description" content="">
    
    <!-- Favicon -->
    <link href="{% static '/img/LOGOPRO.png' %}" rel="icon">
    
    <!-- Google Web Fonts -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Heebo:wght@400;500;600&family=Inter:wght@600&family=Lobster+Two:wght@700&display=swap" rel="stylesheet">
    
    <!-- Icon Font Stylesheet -->
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.10.0/css/all.min.css" rel="stylesheet">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.4.1/font/bootstrap-icons.css" rel="stylesheet">
    
    <!-- Libraries Stylesheet -->
    <link href="{% static 'lib/animate/animate.min.css' %}" rel="stylesheet">
    <link href="{% static 'lib/owlcarousel/assets/owl.carousel.min.css' %}" rel="stylesheet">
    
    <!-- Customized Bootstrap Stylesheet -->
    <link href="{% static 'css/bootstrap.min.css' %}" rel="stylesheet">
    
    <!-- Template Stylesheet -->
    <link href="{% static 'css/style.css' %}" rel="stylesheet">

    <link href="{% static 'css/styleTbale.css' %}" rel="stylesheet">
     <!-- Bootstrap CSS -->
     <link href="https://maxcdn.bootstrapcdn.com/bootstrap/5.3.0/css/bootstrap.min.css" rel="stylesheet">
</head>

<body>
    {%  include  'platformTK/Parents/navbar.html' %}
    {% block content %}


     <div class="container">
        <div class="text-center mb-5">
            <h1 class="mb-3">Vos enfants</h1>
            {% comment %} <p class="lead">Voici les groupes dont vous faites partie, {{ etudiant.prenom|capitalize_first }}.</p> {% endcomment %}
        </div>            
    
        <div class="row justify-content-center">
            {% if num_etudiants >= 1 %}
            <!-- Students Table -->
            <div class="col-lg-12 mb-4">
                <div class="table-wrapper">
                    <div class="table-responsive">
                        {% comment %} <h2 class="text-center mb-4">Vos Étudiants</h2> {% endcomment %}
                        <table class="table table-striped">
                            <thead>
                                <tr>
                                    <th>N°</th>
                                    <th>Nom de l'enfant</th>
                                    <th>Date de naissance</th>
                                    {% comment %} <th>Classe</th> {% endcomment %}
                                </tr>                                    
                            </thead>
                            <tbody>
                                {% for student in student_data %}
                                <tr>
                                    <td>{{ forloop.counter }}</td>
                                    <td>{{ student.etudiant.prenom|capitalize_first }} {{ student.etudiant.nom|capitalize_first }}</td>
                                    <td>{{ student.etudiant.date_de_naissance }}</td> <!-- Assuming you're using the 'age' filter -->
                                    {% comment %} <td>{{ student.etudiant.classe.nom }}</td> <!-- Assuming 'classe' is a related field --> {% endcomment %}
                                </tr>
                                {% endfor %}
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        {% endif %}
        </div>
            <br><br>
                <div class="text-center mb-5">
                    <h1 class="mb-3">Groupes et Compétitions pour vos enfants</h1>
                    {% comment %} <p class="lead">Voici les informations de vos enfants, {{ parent.prenom|capitalize_first }}.</p> {% endcomment %}
                </div>
            
                <!-- Loop through each student's data -->
                {% for student in student_data %}
                <div class="card mb-4">
                    <div class="card-header">
                        <h2 class="card-title">L'enfant: {{ student.etudiant.prenom|capitalize_first }} {{ student.etudiant.nom|capitalize_first }}</h2>
                    </div>
                    <div class="card-body">
                        <!-- Show student's groups -->
                        {% if student.group_data %}
                        <div class="mb-4">
                            <h3>Groupes Associés</h3>
                            <div class="table-responsive">
                                <table class="table table-striped">
                                    <thead>
                                        <tr>
                                            <th>N°</th>
                                            <th>Nom du Groupe</th>
                                            {% comment %} <th>Description</th> {% endcomment %}
                                            <th>Vos Points</th>
                                            <th>Votre Rang</th>
                                            <th>Nombre Total d'Étudiants</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        {% for data in student.group_data %}
                                        <tr>
                                            <td>{{ forloop.counter }}</td>
                                            <td>{{ data.group.name }}</td>
                                            {% comment %} <td class="d-none d-md-table-cell">{{ data.group.description }}</td> {% endcomment %}
                                            <td>{{ data.points }}</td>
                                            <td>{{ data.rank }}/{{ data.total_students }}</td>
                                            <td>{{ data.total_students }}</td>
                                        </tr>
                                        {% endfor %}
                                    </tbody>
                                </table>
                            </div>
                        </div>
                        {% else %}
                        <div class="alert alert-info">Aucun groupe associé pour cet étudiant.</div>
                        {% endif %}
            
                        <!-- Show student's competitions -->
                        {% if student.competition_section_data %}
                        <div class="mb-4">
                            <h3>Compétitions Associées</h3>
                            <div class="table-responsive">
                                <table class="table table-striped">
                                    <thead>
                                        <tr>
                                            <th>N°</th>
                                            <th>Nom de la Compétition</th>
                                            <th>Section</th>
                                            <th>Points</th>
                                            <th>Rang</th>
                                            <th>Le prix que votre enfant a gagné</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        {% for data in student.competition_section_data %}
                                        <tr>
                                            <td>{{ forloop.counter }}</td>
                                            <td>{{ data.competition.name }}</td>
                                            <td>{{ data.section.section_name }}</td>
                                            <td>{{ data.points }}</td>
                                            <td>{{ data.rank }}/{{ data.competition.number_of_sections }}</td>
                                            <td>
                                                {% if data.rank == 1 %}
                                                Il a gagné 10 $
                                                {% elif data.rank == 2 %}
                                                Il a gagné 5 $
                                                {% elif data.rank == 3 %}
                                                Il a gagné 1 $
                                                {% else %}
                                                Il a gagné 0 $
                                                {% endif %}
                                            </td>
                                        </tr>
                                        {% endfor %}
                                    </tbody>
                                </table>
                            </div>
                        </div>
                        {% else %}
                        <div class="alert alert-info">Aucune compétition associée pour cet étudiant.</div>
                        {% endif %}
                    </div>
                </div>
                {% endfor %}

                <div class="container">
                    <div class="text-center mb-5">
                        <h1 class="mb-3">Attendance</h1>
                        {% comment %} <p class="lead">Voici les groupes dont vous faites partie, {{ etudiant.prenom|capitalize_first }}.</p> {% endcomment %}
                    </div> 
                    <div class="col-lg-12 mb-4">
                        <div class="table-wrapper">
                            <div class="table-responsive">
                                <table class="table table-striped">
                                    <thead>
                                        <tr>
                                            <th>N°</th>
                                            <th>Nom de l'enfant</th>
                                            {% comment %} <th>Date de naissance</th> {% endcomment %}
                                            <th>Total Seances</th>
                                            <th>Seances Present</th>
                                            <th>Seances Absent</th>
                                            <th>Taux de Attendance</th>
                                            {% comment %} <th>Competitions</th>
                                            <th>Groups</th> {% endcomment %}
                                        </tr>                                    
                                    </thead>
                                    <tbody>
                                        {% for student in student_data %}
                                        <tr>
                                            <td>{{ forloop.counter }}</td>
                                            <td>{{ student.etudiant.prenom }} {{ student.etudiant.nom }}</td>
                                            {% comment %} <td>{{ student.etudiant.date_de_naissance }}</td> <!-- Assuming you have the date of birth in the student data --> {% endcomment %}
                                            <td>{{ student.attendance_data.0.total_classes }}</td>
                                            <td>{{ student.attendance_data.0.present_classes }}</td>
                                            <td>{{ student.attendance_data.0.absent_classes }}</td>
                                            <td>{{ student.attendance_data.0.attendance_rate|floatformat:2 }}%</td>
                                            {% comment %} <td>
                                                <ul>
                                                    {% for competition in student.competition_section_data %}
                                                        <li>{{ competition.competition.name }}: {{ competition.points }} points (Rank: {{ competition.rank }})</li>
                                                    {% endfor %}
                                                </ul>
                                            </td>
                                            <td>
                                                <ul>
                                                    {% for group in student.group_data %}
                                                        <li>{{ group.group.name }}: {{ group.points }} points (Rank: {{ group.rank }} out of {{ group.total_students }})</li>
                                                    {% endfor %}
                                                </ul>
                                            </td> {% endcomment %}
                                        </tr>
                                        {% endfor %}
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
                    

    {% comment %} {% for student in student_data %}
        <div class="student-report">
            <h3>{{ student.etudiant.prenom }} {{ student.etudiant.nom }}</h3>

            <h4>Attendance Summary</h4>
            <p>Total Classes: {{ student.attendance_data.0.total_classes }}</p>
            <p>Classes Present: {{ student.attendance_data.0.present_classes }}</p>
            <p>Classes Absent: {{ student.attendance_data.0.absent_classes }}</p>
            <p>Attendance Rate: {{ student.attendance_data.0.attendance_rate|floatformat:2 }}%</p>

            <h4>Competitions</h4>
            <ul>
                {% for competition in student.competition_section_data %}
                    <li>{{ competition.competition.name }}: {{ competition.points }} points (Rank: {{ competition.rank }})</li>
                {% endfor %}
            </ul>

            <h4>Groups</h4>
            <ul>
                {% for group in student.group_data %}
                    <li>{{ group.group.name }}: {{ group.points }} points (Rank: {{ group.rank }} out of {{ group.total_students }})</li>
                {% endfor %}
            </ul>
        </div>
    {% endfor %}
</div>

                
        </div> {% endcomment %}


    {% endblock  %}
    <!-- Footer Start -->
    <div class="container-fluid bg-dark text-white-50 footer pt-5 mt-5 wow fadeIn" data-wow-delay="0.1s">
        <div class="container">
            <div class="copyright">
                <div class="row">
                    <div class="col-md-6 text-center text-md-start mb-3 mb-md-0">
                        &copy; <a class="border-bottom" href="#">Paltform Takouine</a>, All Right Reserved. 
						<!--/*** This template is free as long as you keep the footer author’s credit link/attribution link/backlink. If you'd like to use the template without the footer author’s credit link/attribution link/backlink, you can purchase the Credit Removal License from "https://htmlcodex.com/credit-removal". Thank you for your support. ***/-->
						Created By <a class="border-bottom" href="https://altivax.com/" target="_blank">Altivax</a>
                    </div>
                    <div class="col-md-6 text-center text-md-end">
                        <div class="footer-menu">
                            <a href="{% url "homeEtudiant" %}">Home</a>
                            <a href="{% url "my_groups" %}">Groupes</a>
                            <a href="{% url "my_competitions" %}">Compétitions</a>
                            <a href="{% url "Store" %}">Store</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Footer End -->
    <!-- Back to Top -->
        <a href="#" class="btn btn-lg btn-primary btn-lg-square back-to-top"><i class="bi bi-arrow-up"></i></a>
    </div>
    <!-- JavaScript Libraries -->
    <script src="https://code.jquery.com/jquery-3.4.1.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0/dist/js/bootstrap.bundle.min.js"></script>
    <script src="{% static 'lib/wow/wow.min.js' %}"></script>
    <script src="{% static 'lib/easing/easing.min.js' %}"></script>
    <script src="{% static 'lib/waypoints/waypoints.min.js' %}"></script>
    <script src="{% static 'lib/owlcarousel/owl.carousel.min.js' %}"></script>
    <!-- Template Javascript -->
    <script src="{% static 'js/main.js' %}"></script>

</body>
</html>