{% load static  %}
<div class="container-xxl bg-white p-0">
    <!-- Navbar Start -->
    <nav class="navbar navbar-expand-lg bg-white navbar-light sticky-top px-4 px-lg-5 py-lg-0">
        <a href="" class="navbar-brand">
            {% comment %} <h1 class="m-0 text-primary"><i class="fa fa-book-reader me-3"></i>Plaform</h1> {% endcomment %}
            <img  src="{% static 'img/LOGOPRO.png' %}" alt="" style="width: 200px;height: 130px;margin-top: -25px;margin-left: -53px;"> 
        </a>
        <button type="button" class="navbar-toggler" data-bs-toggle="collapse" data-bs-target="#navbarCollapse" style="margin-top: -21px;">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarCollapse">
            <div class="navbar-nav mx-auto">
                <a href="{% url 'homeParents' %}" class="nav-item nav-link active">Home</a>
                <a href="{% url 'parent_groupes' %}" class="nav-item nav-link">Groupes</a>
                <a href="{% url 'parent_competitions' %}" class="nav-item nav-link">Compétitions</a>
                {% comment %} <a href="" class="nav-item nav-link">Store</a> {% endcomment %}
                <a href="{% url 'profil_parent' %}" class="nav-item nav-link">Profil</a>
                {% comment %} <a href="" class="nav-item nav-link">Commandes</a> {% endcomment %}
                <a href="{% url 'userLogout' %}" class="nav-item nav-link">Déconnexion</a>


            </div>
            {% comment %} <a href="" class="btn btn-primary rounded-pill px-3 d-none d-lg-block" style="
            background-color: #176b90;
            border-color: #fff7f7;
        ">{{etudiant.points}}$</i></a>  {% endcomment %}
        </div>
    </nav>
    <!-- Navbar End -->

    <style>
        .navbar .navbar-nav .nav-link:hover, .navbar .navbar-nav .nav-link.active {
            color: #30bb96;
        }
    </style>